App_WebReferences/Comercial/Comercial.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetComercial">
        <s:complexType />
      </s:element>
      <s:element name="GetComercialResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetComercialResult" type="tns:ComercialData" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ComercialData">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ImageURL" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ImageText" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="Width" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="Height" type="s:int" />
        </s:sequence>
      </s:complexType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetComercialSoapIn">
    <wsdl:part name="parameters" element="tns:GetComercial" />
  </wsdl:message>
  <wsdl:message name="GetComercialSoapOut">
    <wsdl:part name="parameters" element="tns:GetComercialResponse" />
  </wsdl:message>
  <wsdl:portType name="ComercialSoap">
    <wsdl:operation name="GetComercial">
      <wsdl:input message="tns:GetComercialSoapIn" />
      <wsdl:output message="tns:GetComercialSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ComercialSoap" type="tns:ComercialSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetComercial">
      <soap:operation soapAction="http://tempuri.org/GetComercial" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ComercialSoap12" type="tns:ComercialSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetComercial">
      <soap12:operation soapAction="http://tempuri.org/GetComercial" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Comercial">
    <wsdl:port name="ComercialSoap" binding="tns:ComercialSoap">
      <soap:address location="http://localhost:55203/Comercial.asmx" />
    </wsdl:port>
    <wsdl:port name="ComercialSoap12" binding="tns:ComercialSoap12">
      <soap12:address location="http://localhost:55203/Comercial.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>