App_WebReferences/CreditCard/Credit.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="DebitCreditCard">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="debit" type="tns:Debit" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Debit">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CardNum" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardType" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CardOwnerId" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpMonth" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="ExpYear" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="DebitCreditCardResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DebitCreditCardResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="DebitCreditCardSoapIn">
    <wsdl:part name="parameters" element="tns:DebitCreditCard" />
  </wsdl:message>
  <wsdl:message name="DebitCreditCardSoapOut">
    <wsdl:part name="parameters" element="tns:DebitCreditCardResponse" />
  </wsdl:message>
  <wsdl:portType name="CreditSoap">
    <wsdl:operation name="DebitCreditCard">
      <wsdl:input message="tns:DebitCreditCardSoapIn" />
      <wsdl:output message="tns:DebitCreditCardSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreditSoap" type="tns:CreditSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DebitCreditCard">
      <soap:operation soapAction="http://tempuri.org/DebitCreditCard" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CreditSoap12" type="tns:CreditSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DebitCreditCard">
      <soap12:operation soapAction="http://tempuri.org/DebitCreditCard" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Credit">
    <wsdl:port name="CreditSoap" binding="tns:CreditSoap">
      <soap:address location="http://localhost:49768/Credit.asmx" />
    </wsdl:port>
    <wsdl:port name="CreditSoap12" binding="tns:CreditSoap12">
      <soap12:address location="http://localhost:49768/Credit.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>